# Git
.git
.gitignore

# Maven
target/
!target/*.jar
.mvn/
mvnw
mvnw.cmd

# IDE files
.idea/
*.iml
.vscode/
.project
.classpath
.settings/

# Logs
logs/
*.log

# Environment variables
.env

# Other
README.md
LICENSE
docker-compose.yml
